<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>681401405574-sj6r91ua2q67jashrpniko9pk08fhgbh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.681401405574-sj6r91ua2q67jashrpniko9pk08fhgbh</string>
	<key>API_KEY</key>
	<string>AIzaSyCUjpp4BePxI0lseq_W0c-Em7x2Ye3vhcI</string>
	<key>GCM_SENDER_ID</key>
	<string>681401405574</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.upsipad.com</string>
	<key>PROJECT_ID</key>
	<string>upsipad-2345f</string>
	<key>STORAGE_BUCKET</key>
	<string>upsipad-2345f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:681401405574:ios:15f0d70fb5d96ff6</string>
	<key>DATABASE_URL</key>
	<string>https://upsipad-2345f.firebaseio.com</string>
</dict>
</plist>